.cabeza{
    width: 100%;
    height: 100px; 
    margin: 10px;
    
    text-align: center;
}
.principal{
    width: 100%;
    height: 700px;
    
}
.text{
    width: 220px;
    height: 60px;
    
    margin: 10px;
    margin-left: 500px;
    margin-top: 10px;
    
}
.contenedor{
    width: 100%;
    display: flex;
    height: 80px;
   
      
}
.fecha{
    width: 200px;
    height: 60px;
    
    margin: 10px;
    margin-top: 10px;
      
}
.centro{
    text-align: center;
    vertical-align: middle;
}
.centro2{
    margin-top: 15px;
}
.ciudad{
    width: 100%;
    height: 80px;
}
.texto1{
    text-align: center;
    vertical-align: middle;
}
.vaso{
    width: 100%;
    height: 80px;
    
    display: flex;
}
.nacion{
    height: 60px;
    width: 220px;
    
    margin: 10px;
    margin-left: 500px;
    margin-top: 10px;
}
.opciones{
    height: 60px;
    width: 200px;
    
    margin: 10px;
    margin-top: 10px;
    
}
.vence{
    height: 100px;
    width: 100%;
}
